<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.mapper.AuthMapper">
    <select id="findAuthByUid" resultType="auth">
        select  *
        from user_role t1,role_auth t2,auth_info t3
        where t1.role_id = t2.role_id and t2.auth_id = t3.auth_id
        and t3.auth_state = 1 and t3.auth_type != 3
        and t1.user_id = #{userId}
    </select>

<!--    public List<Auth> findAllAuth();-->
    <select id="findAllAuth" resultType="auth">
        select * from auth_info where auth_state = 1 and auth_type != 3
    </select>
<!--        public List<Integer> findAuthByRoleId(Integer roleId);-->
    <select id="findAuthByRoleId" resultType="integer">
        select auth_id from role_auth where role_id = #{roleId}
    </select>

<!--    public int deleteAuthByRoleId(Integer roleId);-->
    <delete id="deleteAuthByRoleId">
        delete from role_auth where role_id = #{roleId}
    </delete>
<!--        public int insertAuthByRoleId(Integer authId, Integer roleId);-->
    <insert id="insertAuthByRoleId">
        insert into role_auth values (null, #{roleId}, #{authId})
    </insert>

</mapper>